/* «B1» <h1>...<h6>, <p>ve <ul> etiketleri için etiket seçici kullanarak global stillerin sıfırlanmasına izin verilmelidir. */
* {
    margin: 0;
    box-sizing: border-box;
    
}
img {
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body{
    font-family: "Roboto",sans-serif;
    color:#434455;
    font-size:16px;
    line-height: 1.5;
    background-color: #ffffff;
    margin:0;
}
h1{
    font-weight: bold;
    font-size:56px;
}
h2{
    font-weight: bold;
    font-size: 36px;
}
h3{
    font-weight: medium;
    font-size:20px;
}
a{
    font-size:12px;
    text-decoration: underline;
}
ol, ul  {
    list-style-type: none;
    
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container{
    
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header bölümü */

.header-menu {
    border-bottom: 1px solid #e7e9fc;
    
}
.header-container {
    display: flex;
    padding: 0 15px;
}
/* Header Navigation */
.header-nav {
    display: flex;
    align-items: center;  
}

/* Menü Linkleri */
.header-nav .logo {    
    margin-right: 76px;
}
.logo {
    font-family: "Raleway",sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}
span-header {
    color: #2e2f42;
}





/* Adres Bölümü */
.header-nav-list {
    display: flex;
    gap: 40px;;
}
.header-nav-list-item {
    padding: 24px 0;
    
}
.nav-list{
    display: block;
    text-decoration: none;
    color: #2e2f42;
    font-size:16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.nav-list:hover, .nav-list:focus {
    color: #404BBF;
}

.nav-adres {
    font-style: normal;
    
}
.adres-ul {
    display: flex;
    gap: 40px;
}

.adres-a {
    
    font-size: 16px;
    letter-spacing: 0,02em;
    color: #434455;
    
}
.adres-a:hover, .adres-a:focus {
    color: #404BBF;
}   
header-nav-list:active{
    text-decoration: underline;
    text-decoration-color: #404BBF;
    color:#404BBF;
}

/* Effective Solutions ve Buton Bölümü */

.one-sect {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
}
.header-one {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;;
    margin: 0 auto;
    padding-bottom: 48px;
}

.one-sectbut {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.one-sectbut:hover {
    background-color: #404BBF;
}

.one-sectbut:focus {
    background-color: #404BBF;
}
/* Features Bölümü Css Kuralları */
.section-features {
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.futures-ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}

.futures-li{
    width:calc((100%-3*24px)/4);

}

.futures-ul .futures-li .paragraph{
    text-align: left;
}

.futures-ul .futures-li .header-three{
    text-align: left;
}
header-three{
  
    text-align: center;
    margin-bottom: 8px;
}
/* Our Team Bölümü Css kuralları */

.section-team { 
    background-color: #F4F4FD;  
    padding: 120px 0;
}

.team-ul{
    display: flex;
    gap: 24px;
    margin-top: 72px;
    list-style-type: none;
}

.team-li {
    background-color: #FFFFFF;
    width:calc((100%-72px)/4) ;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-li-text {
    padding: 32px 0;
}
.team-p{
    text-align: center;
}
header-three{
  
    text-align: center;
    margin-bottom: 8px;
}

/* Portfolio Bölümü CSS Kuralları */
.section-portfolio {
    padding: 120px 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style-type: none;
    padding-inline-start: 0;
}

.portfolio-list-item{
    flex: 1;
    background-color: #FFFFFF;
    flex-basis:calc((100%-72px)/4);

}

.portfolio-list-item-text{
    margin-bottom: 8px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
    text-align: center;
    
}

/* section-portfolio finish */

.header-two {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* Footer Bölümü CSS Kurlları (a etiketi ve span etiketi header bölümündeki nav içindeki css'i kullanır) */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.nav-a {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
    text-align: left;
}

.nav-span {
    color: #F4F4FD;
}